/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-family: arial;
	text-align: center;
	position: relative;
}

#container{
	display: block;
	text-align: center;
	margin:auto;
}
h1{
	font-size: 2.4rem;
	text-decoration: underline;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	margin-top: 20px;
}
.start{
	display: block;
	width:120px;
	margin: auto;
}
.rules input{
	width:34px;
}

.ligne{
	font-size: 0px;
	width:100%;
}

.ligne div:first-of-type{
	border-left: 1px solid lightgrey;
}

.ligne:first-of-type div{
	border-top: 1px solid lightgrey;
}

.block{
}
.dead_block{
	background-color: white;
	display:inline-block;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	vertical-align: bottom;
	text-align: center;
}
.alive_block{
	background-color: white;
	display:inline-block;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	vertical-align: bottom;
	text-align: center;
}

#result{
	width:80%;
	font-size: 2rem;
	text-align: center;
	margin: auto;
}

.panel{
	background-color: #2ecc71;
	padding: 20px;
	color: white;
	width: 33%;
	float: left;
	height: 100vh;
}

.patterns:before {
    display: block;
    content: "Insert pattern :";
    padding-top: 30px;
}
.patterns:after{
	display: block;
    content: "";
    padding-bottom: 15px;
}

.panel:after{
	display: table;
	content:'';
	clear: both;
}

.panel button, .patterns button{
	display: inline-block;
	float:none;
	margin: auto;
	width: 100px;
	background: none;
	border:none;
	padding: 10px;
	background-color: #27ae60;
	margin: 5px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}

.panel button:hover, .patterns button:hover{
	background-color: rgb(34,149,83);
}

label[for="range"]:before {
    display: block;
    content: "";
    clear: both;
}
label[for="blockSize"]:before {
    display: block;
    content: "";
    clear: both;
}

input{
	margin: 5px 0;
}
label{
	margin:0 5px;
}


p.rules{
	margin: 10px 0;
}
input[type="number"]{
	width: 45px;
	border:none;
	background-color: rgba(255,255,255,0.2);
	padding: 5px;
	color: white;
}